---
---

@import "{{ site.theme }}";
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #111;
}

.active {
background-color:#4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a class="https://github.com/LukeBenson21/My-A-levels/blob/master/README.md#lukes-a-levels" href="#home">Home</a></li>
  <li><a href="https://github.com/LukeBenson21/My-A-levels/blob/master/README.md#elecrtonics">Electronics</a></li>
  //<li><a href="#Maths">Maths</a></li>
  //<li><a href="#Physics">Physics</a></li>
</ul>
</body>
</html>
